# จัดการกับคอลัมน์ตัวเลขที่มีค่า null
## Server: PostgreSQL
## Author: Prasert Kanawattanachai
## YouTube: https://youtu.be/etR_T4ytnvc

In [1]:
drop table if exists student_score;

create table student_score (
	id int,
	quiz1 int,
	quiz2 int,
	quiz3 int
);

insert into student_score (id, quiz1, quiz2, quiz3) values 
    (1, 6, 13, 20),
    (2, 7, 21, 24),
    (3, 21, 15, null),
    (4, null, 6, null),
    (5, 15, null, 16),
    (6, 16, null, null),
    (7, 23, 11, 19),
    (8, 5, 25, null),
    (9, 17, 15, 12),
    (10, 10, 9, null);

In [2]:
select * from student_score;

id,quiz1,quiz2,quiz3
1,6,13,20
2,7,21,24
3,21,15,NULL
4,NULL,6,NULL
5,15,NULL,16
6,16,NULL,NULL
7,23,11,19
8,5,25,NULL
9,17,15,12
10,10,9,NULL

In [3]:
select *, quiz1 + quiz2 + quiz3 total from student_score;

id,quiz1,quiz2,quiz3,total
1,6,13,20,39
2,7,21,24,52
3,21,15,NULL,NULL
4,NULL,6,NULL,NULL
5,15,NULL,16,NULL
6,16,NULL,NULL,NULL
7,23,11,19,53
8,5,25,NULL,NULL
9,17,15,12,44
10,10,9,NULL,NULL

In [14]:
select coalesce(1, 2, 3), coalesce(null, 2, 3)

coalesce,coalesce
1,2

In [4]:
select *, 
    coalesce(quiz1,0) + coalesce(quiz2,0) + coalesce(quiz3,0) total 
    from student_score;

id,quiz1,quiz2,quiz3,total
1,6,13,20,39
2,7,21,24,52
3,21,15,NULL,36
4,NULL,6,NULL,6
5,15,NULL,16,31
6,16,NULL,NULL,16
7,23,11,19,53
8,5,25,NULL,30
9,17,15,12,44
10,10,9,NULL,19

In [18]:
select sum(quiz1), sum(quiz2), sum(quiz3), sum(quiz1+quiz2+quiz3) total from student_score

sum,sum,sum,total
120,115,91,188

In [5]:
select sum(quiz1), sum(quiz2), sum(quiz3), 
    sum(coalesce(quiz1,0) + coalesce(quiz2,0) + coalesce(quiz3,0)) total 
    from student_score

sum,sum,sum,total
120,115,91,326

# ใช้ grouping sets ในการหา grand total

In [24]:
--ใช้ grouping sets ในการหา grand total
--จะได้คำตอบทั้งหมด 11 แถว โดยค่าที่มี id เป็น NULL จะเป็น total
--grouping sets ((id), ()) จะเป็นการ group by id ส่วน () จะเป็นตัวหาร grand total 

select id, sum(quiz1), sum(quiz2), sum(quiz3), 
    sum(coalesce(quiz1,0) + coalesce(quiz2,0) + coalesce(quiz3,0)) total 
    from student_score 
    group by grouping sets ((id), ())
    order by id

id,sum,sum,sum,total
1,6,13,20,39
2,7,21,24,52
3,21,15,NULL,36
4,NULL,6,NULL,6
5,15,NULL,16,31
6,16,NULL,NULL,16
7,23,11,19,53
8,5,25,NULL,30
9,17,15,12,44
10,10,9,NULL,19
NULL,120,115,91,326

In [25]:
select id, sum(quiz1), sum(quiz2), sum(quiz3), 
    sum(coalesce(quiz1,0) + coalesce(quiz2,0) + coalesce(quiz3,0)) total 
    from student_score 
    group by id
    order by id

id,sum,sum,sum,total
1,6,13,20,39
2,7,21,24,52
3,21,15,NULL,36
4,NULL,6,NULL,6
5,15,NULL,16,31
6,16,NULL,NULL,16
7,23,11,19,53
8,5,25,NULL,30
9,17,15,12,44
10,10,9,NULL,19

In [6]:
select null, sum(quiz1), sum(quiz2), sum(quiz3), 
    sum(coalesce(quiz1,0) + coalesce(quiz2,0) + coalesce(quiz3,0)) total 
    from student_score

Column1,sum,sum,sum,total
NULL,120,115,91,326

In [7]:
select id, sum(quiz1), sum(quiz2), sum(quiz3), 
    sum(coalesce(quiz1,0) + coalesce(quiz2,0) + coalesce(quiz3,0)) total 
    from student_score 
    group by id
union
select null, sum(quiz1), sum(quiz2), sum(quiz3), 
    sum(coalesce(quiz1,0) + coalesce(quiz2,0) + coalesce(quiz3,0)) total 
    from student_score 
    order by id

id,sum,sum,sum,total
1,6,13,20,39
2,7,21,24,52
3,21,15,NULL,36
4,NULL,6,NULL,6
5,15,NULL,16,31
6,16,NULL,NULL,16
7,23,11,19,53
8,5,25,NULL,30
9,17,15,12,44
10,10,9,NULL,19
NULL,120,115,91,326