# fomat date/time

-   DATE - format YYYY-MM-DD
-   DATETIME - format: YYYY-MM-DD HH:MI:SS
-   TIMESTAMP - format: YYYY-MM-DD HH:MI:SS
-   YEAR - format YYYY or YY

In [2]:
SELECT LOCALTIMESTAMP,
    to_char(LOCALTIMESTAMP, 'DD') "DD",
    to_char(LOCALTIMESTAMP, 'DDD') "DDD",
    to_char(LOCALTIMESTAMP, 'Dy') "Dy"

localtimestamp,DD,DDD,Dy
2020-10-21T20:58:42.463426,21,295,Wed

In [28]:
SELECT '2019-02-01'::DATE,
    to_char('2019-02-01'::DATE, 'DD') "DD", -- วันที่
    to_char('2019-02-01'::DATE, 'DDD') "DDD", -- วันที่ลำดับที่เท่าไหร่ของปี
    to_char('2019-02-01'::DATE, 'Dy') "Dy", -- วันแบบตัวย่อ
    to_char('2019-02-01'::DATE, 'Day') "Day", -- วันแบบตัวเต็ม
    to_char('2019-02-01'::DATE, 'MM') "MM", -- เดือนที่
    to_char('2019-02-01'::DATE, 'Mon') "Mon", -- เดือนแบบย่อ
    to_char('2019-02-01'::DATE, 'Month') "Month" -- เดือนแบบเต็ม

date,DD,DDD,Dy,Day,MM,Mon,Month
2019-02-01,01,032,Fri,Friday,02,Feb,February

In [13]:
SELECT LOCALTIMESTAMP,
    to_char(LOCALTIMESTAMP, 'HH') "HH", -- ชั่วโมง
    to_char(LOCALTIMESTAMP, 'HH24') "HH24" -- 24ชั่วโมง

localtimestamp,HH,HH24
2020-10-21T21:16:20.471259,09,21

In [4]:
SELECT '2019-07-11 14:30'::timestamp,
    to_char('2019-07-11 14:30'::timestamp, 'HH') "HH", -- ชั่วโมง
    to_char('2019-07-11 14:30'::timestamp, 'HH24') "HH24", -- 24 ชั่วโมง
    to_char('2019-07-11 14:30'::timestamp, 'HH24:MI') "HH24:MI", -- 24ชั่วโมง กับนาที
    to_char('2019-07-11 14:30'::timestamp, 'HH24:MI am') "HH24:MI am", 
    to_char('2019-07-11 14:30'::timestamp, 'Dy DD-Mon-YYYY HH24:MI am') "Dy DD-Mon-YYYY HH24:MI am"

timestamp,HH,HH24,HH24:MI,HH24:MI am,Dy DD-Mon-YYYY HH24:MI am
2019-07-11T14:30:00,02,14,14:30,14:30 pm,Thu 11-Jul-2019 14:30 pm