# SELF JOIN
## Server: PostgreSQL
## Database: Saturn
## Table: gapminder
## Author: Prasert Kanawattanachai
## YouTube: https://youtu.be/PLpOPD5I45o

In [1]:
select * from gapminder limit 24;

country,year,continent,lifeexp,pop,gdppercap
Afghanistan,1952,Asia,28.801,8425333,779.4453145
Afghanistan,1957,Asia,30.332,9240934,820.8530296
Afghanistan,1962,Asia,31.997,10267083,853.1007099999998
Afghanistan,1967,Asia,34.02,11537966,836.1971382
Afghanistan,1972,Asia,36.088,13079460,739.9811057999998
Afghanistan,1977,Asia,38.438,14880372,786.11336
Afghanistan,1982,Asia,39.854,12881816,978.0114388
Afghanistan,1987,Asia,40.822,13867957,852.3959447999998
Afghanistan,1992,Asia,41.674,16317921,649.3413952000002
Afghanistan,1997,Asia,41.76300000000001,22227415,635.341351
Afghanistan,2002,Asia,42.129,25268405,726.7340548
Afghanistan,2007,Asia,43.828,31889923,974.5803384
Albania,1952,Europe,55.23,1282697,1601.056136
Albania,1957,Europe,59.28,1476505,1942.284244
Albania,1962,Europe,64.82,1728137,2312.888958
Albania,1967,Europe,66.22,1984060,2760.196931
Albania,1972,Europe,67.69,2263554,3313.422188
Albania,1977,Europe,68.93,2509048,3533.003910000001
Albania,1982,Europe,70.42,2780097,3630.880722
Albania,1987,Europe,72.0,3075321,3738.932735
Albania,1992,Europe,71.581,3326498,2497.437901
Albania,1997,Europe,72.95,3428038,3193.054604
Albania,2002,Europe,75.65100000000002,3508512,4604.211737
Albania,2007,Europe,76.423,3600523,5937.029525999998

In [2]:
select * from gapminder where country in ('Thailand', 'Malaysia')

country,year,continent,lifeexp,pop,gdppercap
Malaysia,1952,Asia,48.463,6748378,1831.132894
Malaysia,1957,Asia,52.102,7739235,1810.0669920000007
Malaysia,1962,Asia,55.737,8906385,2036.884944
Malaysia,1967,Asia,59.371,10154878,2277.742396
Malaysia,1972,Asia,63.01,11441462,2849.09478
Malaysia,1977,Asia,65.256,12845381,3827.921571
Malaysia,1982,Asia,68.0,14441916,4920.355951
Malaysia,1987,Asia,69.5,16331785,5249.802653
Malaysia,1992,Asia,70.693,18319502,7277.912802
Malaysia,1997,Asia,71.938,20476091,10132.90964
Malaysia,2002,Asia,73.044,22662365,10206.97794
Malaysia,2007,Asia,74.241,24821286,12451.6558
Thailand,1952,Asia,50.848,21289402,757.7974177
Thailand,1957,Asia,53.63,25041917,793.5774147999998
Thailand,1962,Asia,56.06100000000001,29263397,1002.199172
Thailand,1967,Asia,58.285,34024249,1295.46066
Thailand,1972,Asia,60.405,39276153,1524.358936
Thailand,1977,Asia,62.494,44148285,1961.2246350000007
Thailand,1982,Asia,64.597,48827160,2393.219781
Thailand,1987,Asia,66.084,52910342,2982.653773
Thailand,1992,Asia,67.298,56667095,4616.896545000001
Thailand,1997,Asia,67.521,60216677,5852.625497
Thailand,2002,Asia,68.564,62806748,5913.187529
Thailand,2007,Asia,70.616,65068149,7458.396326999998

# แสดงข้อมูลเปรียบเทียบอายุขัยประชากรของไทยและมาเลเซีย

## จำลองการทำงานของ self join โดยให้มองเสมือนว่ามีการแบ่งตาราง gapminder ออกเป็น 2 ตาราง คือ t (ข้อมูลประเทศไทย) และ m (ประเทศมาเลเซีย) แล้วทำการเชื่อมข้อมูลจากตาราง t และ m เข้าด้วยกันโดยมี year เป็นตัวเชื่อม

In [3]:
with m as (
    select * from gapminder where country = 'Malaysia'
),
t as (
    select * from gapminder where country = 'Thailand'
)
select t.year, t.lifeexp "Thailand life exp", m.lifeexp "Malaysia life exp" 
    from t inner join m on t.year = m.year

year,Thailand life exp,Malaysia life exp
1952,50.848,48.463
1957,53.63,52.102
1962,56.06100000000001,55.737
1967,58.285,59.371
1972,60.405,63.01
1977,62.494,65.256
1982,64.597,68.0
1987,66.084,69.5
1992,67.298,70.693
1997,67.521,71.938
2002,68.564,73.044
2007,70.616,74.241

## ใช้เทคนิคการสร้าง alias ให้กับตาราง gapminder โดยให้มีชื่อว่า t และ m ซึ่งทำให้ดูเหมือนว่าเป็น 2 ตาราง ทั้งที่จริง ๆ แล้ว ทั้ง t และ m ล้วนมาจากตาราง gampminder

In [4]:
select t.year, t.lifeexp "Thailand life exp", m.lifeexp "Malaysia life exp" 
    from gapminder t inner join gapminder m on t.year = m.year
    where t.country = 'Thailand' and m.country = 'Malaysia'

year,Thailand life exp,Malaysia life exp
1952,50.848,48.463
1957,53.63,52.102
1962,56.06100000000001,55.737
1967,58.285,59.371
1972,60.405,63.01
1977,62.494,65.256
1982,64.597,68.0
1987,66.084,69.5
1992,67.298,70.693
1997,67.521,71.938
2002,68.564,73.044
2007,70.616,74.241

## การทำ self join มากกว่า 2

In [5]:
select t.year, t.lifeexp "Thailand life exp", m.lifeexp "Malaysia life exp", v.lifeexp "Vietnam life exp"
    from gapminder t inner join gapminder m on t.year = m.year inner join gapminder v on m.year = v.year
    where t.country = 'Thailand' and m.country = 'Malaysia' and v.country = 'Vietnam'

year,Thailand life exp,Malaysia life exp,Vietnam life exp
1952,50.848,48.463,40.412
1957,53.63,52.102,42.887
1962,56.06100000000001,55.737,45.363
1967,58.285,59.371,47.838
1972,60.405,63.01,50.254
1977,62.494,65.256,55.764
1982,64.597,68.0,58.816
1987,66.084,69.5,62.82
1992,67.298,70.693,67.66199999999999
1997,67.521,71.938,70.672
2002,68.564,73.044,73.017
2007,70.616,74.241,74.249

## การใช้ inner join using แทนการใช้ inner join on

In [6]:
select t.year, t.lifeexp "Thailand life exp", m.lifeexp "Malaysia life exp", v.lifeexp "Vietnam life exp"
    from gapminder t inner join gapminder m using(year) inner join gapminder v using(year)
    where t.country = 'Thailand' and m.country = 'Malaysia' and v.country = 'Vietnam'

year,Thailand life exp,Malaysia life exp,Vietnam life exp
1952,50.848,48.463,40.412
1957,53.63,52.102,42.887
1962,56.06100000000001,55.737,45.363
1967,58.285,59.371,47.838
1972,60.405,63.01,50.254
1977,62.494,65.256,55.764
1982,64.597,68.0,58.816
1987,66.084,69.5,62.82
1992,67.298,70.693,67.66199999999999
1997,67.521,71.938,70.672
2002,68.564,73.044,73.017
2007,70.616,74.241,74.249

## การคำนวณค่าเฉลี่ยอายุขัย

In [7]:
select t.year, 
    t.lifeexp::numeric(5, 2) "Thailand life exp", 
    m.lifeexp::numeric(5, 2) "Malaysia life exp", 
    v.lifeexp::numeric(5, 2) "Vietnam life exp",
    ((t.lifeexp + m.lifeexp + v.lifeexp) / 3.0)::numeric(5, 2) "avg"
    from gapminder t inner join gapminder m using(year) inner join gapminder v using(year)
    where t.country = 'Thailand' and m.country = 'Malaysia' and v.country = 'Vietnam'

year,Thailand life exp,Malaysia life exp,Vietnam life exp,avg
1952,50.85,48.46,40.41,46.57
1957,53.63,52.10,42.89,49.54
1962,56.06,55.74,45.36,52.39
1967,58.29,59.37,47.84,55.16
1972,60.41,63.01,50.25,57.89
1977,62.49,65.26,55.76,61.17
1982,64.60,68.00,58.82,63.80
1987,66.08,69.50,62.82,66.13
1992,67.30,70.69,67.66,68.55
1997,67.52,71.94,70.67,70.04
2002,68.56,73.04,73.02,71.54
2007,70.62,74.24,74.25,73.04