# CROSS JOIN

In [1]:
drop table if exists team;

create table team(
    name text,
    rank int
);

In [2]:
insert into team values
    ('tiger', 4),
    ('lion', 1),
    ('eagle', 2),
    ('rhino', 3);

In [3]:
select * from team

name,rank
tiger,4
lion,1
eagle,2
rhino,3

In [12]:
-- a.__ ขึ้นอยู่กับ from team __ตั้งชื่อ
select a.name , b.name from team a cross join team b

name,name
tiger,tiger
tiger,lion
tiger,eagle
tiger,rhino
lion,tiger
lion,lion
lion,eagle
lion,rhino
eagle,tiger
eagle,lion
eagle,eagle
eagle,rhino
rhino,tiger
rhino,lion
rhino,eagle
rhino,rhino

In [14]:
select a.name , b.name from team a cross join team b
    where a.name != b.name

name,name
tiger,lion
tiger,eagle
tiger,rhino
lion,tiger
lion,eagle
lion,rhino
eagle,tiger
eagle,lion
eagle,rhino
rhino,tiger
rhino,lion
rhino,eagle

In [15]:
select a.name , b.name from team a cross join team b
    where a.name < b.name

name,name
lion,tiger
lion,rhino
eagle,tiger
eagle,lion
eagle,rhino
rhino,tiger

In [22]:
select a.name , b.name from team a, team b
    where a.name < b.name

name,name
lion,tiger
lion,rhino
eagle,tiger
eagle,lion
eagle,rhino
rhino,tiger

In [40]:
select concat(a.name,' (', a.rank,')'),
    concat(b.name,' (', b.rank,')') 
    from team a, team b
    where a.name < b.name

concat,concat
lion (1),tiger (4)
lion (1),rhino (3)
eagle (2),tiger (4)
eagle (2),lion (1)
eagle (2),rhino (3)
rhino (3),tiger (4)

In [42]:
select concat(c.name,' (', c.rank,')'),
    concat(b.name,' (', b.rank,')') 
    from team c, team b
    where c.name < b.name

concat,concat
lion (1),tiger (4)
lion (1),rhino (3)
eagle (2),tiger (4)
eagle (2),lion (1)
eagle (2),rhino (3)
rhino (3),tiger (4)