# Common Table Expression (CTE)
CTEs ถือเป็นนิพจน์ตาราง (Table Expression) แบบหนึ่ง
นิพจน์ตาราง คือ นิพจน์ที่ทำหน้าที่เสมือนตารางได้
 
มันคือการเขียนคำสั่ง SQL query ให้ทำงานแบบต่อเนื่อง (จะเป็น recursive หรือตามลำดับชั้น hierarchy ก็ได้)

In [23]:
select * from sales order by random() limit 20;

branch,dt,revenue
phuket,2018-02-03,776
phuket,2018-12-27,487
phuket,2019-12-11,511
phuket,2018-04-02,686
phuket,2019-06-21,514
bangkok,2019-09-15,513
phuket,2019-10-27,154
phuket,2019-04-06,430
bangkok,2018-11-22,739
phuket,2018-01-02,569
phuket,2019-08-19,461
bangkok,2019-06-27,669
bangkok,2018-10-08,220
bangkok,2018-08-28,855
phuket,2018-03-13,797
phuket,2018-09-26,695
phuket,2018-09-17,765
bangkok,2018-12-10,638
bangkok,2018-07-14,580
phuket,2019-08-18,673

In [24]:
select branch, date_part('month', dt)::int "month", sum(revenue) total
    from sales
    where date_part('year', dt) = 2018
    group by branch, date_part('month', dt) 
    order by branch, "month";

branch,month,total
bangkok,1,20728
bangkok,2,15822
bangkok,3,17184
bangkok,4,21011
bangkok,5,18634
bangkok,6,14029
bangkok,7,17666
bangkok,8,16647
bangkok,9,17154
bangkok,10,19355
bangkok,11,17175
bangkok,12,17984
phuket,1,14800
phuket,2,13807
phuket,3,13293
phuket,4,12962
phuket,5,14311
phuket,6,12837
phuket,7,12723
phuket,8,14400
phuket,9,13060
phuket,10,14421
phuket,11,14596
phuket,12,12546

In [25]:
with cte as(
    select branch, date_part('month', dt)::int "month", sum(revenue) total
    from sales
    where date_part('year', dt) = 2018
    group by branch, date_part('month', dt) 
    order by branch, "month" 
)

select * from cte

branch,month,total
bangkok,1,20728
bangkok,2,15822
bangkok,3,17184
bangkok,4,21011
bangkok,5,18634
bangkok,6,14029
bangkok,7,17666
bangkok,8,16647
bangkok,9,17154
bangkok,10,19355
bangkok,11,17175
bangkok,12,17984
phuket,1,14800
phuket,2,13807
phuket,3,13293
phuket,4,12962
phuket,5,14311
phuket,6,12837
phuket,7,12723
phuket,8,14400
phuket,9,13060
phuket,10,14421
phuket,11,14596
phuket,12,12546

In [26]:
with cte as(
    select branch, date_part('month', dt)::int "month", sum(revenue) total
    from sales
    where date_part('year', dt) = 2018
    group by branch, date_part('month', dt) 
    order by branch, "month" 
)

select b.month, b.total "bangkok", p.total "phuket", b.total - p.total "Bkk-Phuket"
    from cte b inner join cte p using(month)
    where b.branch = 'bangkok' and p.branch = 'phuket'

month,bangkok,phuket,Bkk-Phuket
1,20728,14800,5928
2,15822,13807,2015
3,17184,13293,3891
4,21011,12962,8049
5,18634,14311,4323
6,14029,12837,1192
7,17666,12723,4943
8,16647,14400,2247
9,17154,13060,4094
10,19355,14421,4934
11,17175,14596,2579
12,17984,12546,5438

In [27]:
with cte as(
    select branch, date_part('month', dt)::int "month", sum(revenue) total
    from sales
    where date_part('year', dt) = 2018
    group by branch, date_part('month', dt) 
    order by branch, "month" 
),
b as(
    select * from cte where branch = 'bangkok'
), 
p as(
    select * from cte where branch = 'phuket'
)


select b.month, b.total "bangkok", p.total "phuket", b.total - p.total "Bkk-Phuket",
    to_char(b.total - p.total, '99G999G999')
    from b inner join p using(month)

month,bangkok,phuket,Bkk-Phuket,to_char
1,20728,14800,5928,"5,928"
2,15822,13807,2015,"2,015"
3,17184,13293,3891,"3,891"
4,21011,12962,8049,"8,049"
5,18634,14311,4323,"4,323"
6,14029,12837,1192,"1,192"
7,17666,12723,4943,"4,943"
8,16647,14400,2247,"2,247"
9,17154,13060,4094,"4,094"
10,19355,14421,4934,"4,934"
11,17175,14596,2579,"2,579"
12,17984,12546,5438,"5,438"

In [28]:
 select branch, date_part('year', dt)::int "year",
    date_part('month', dt)::int "month", sum(revenue) total
    from sales
    -- where date_part('year', dt) = 2018
    group by branch, date_part('year', dt), date_part('month', dt) 
    order by branch, "year", "month"

branch,year,month,total
bangkok,2018,1,20728
bangkok,2018,2,15822
bangkok,2018,3,17184
bangkok,2018,4,21011
bangkok,2018,5,18634
bangkok,2018,6,14029
bangkok,2018,7,17666
bangkok,2018,8,16647
bangkok,2018,9,17154
bangkok,2018,10,19355
bangkok,2018,11,17175
bangkok,2018,12,17984
bangkok,2019,1,18841
bangkok,2019,2,17187
bangkok,2019,3,17162
bangkok,2019,4,15779
bangkok,2019,5,18497
bangkok,2019,6,19417
bangkok,2019,7,17651
bangkok,2019,8,14706
bangkok,2019,9,18067
bangkok,2019,10,16874
bangkok,2019,11,17779
bangkok,2019,12,20052
phuket,2018,1,14800
phuket,2018,2,13807
phuket,2018,3,13293
phuket,2018,4,12962
phuket,2018,5,14311
phuket,2018,6,12837
phuket,2018,7,12723
phuket,2018,8,14400
phuket,2018,9,13060
phuket,2018,10,14421
phuket,2018,11,14596
phuket,2018,12,12546
phuket,2019,1,14264
phuket,2019,2,12450
phuket,2019,3,12731
phuket,2019,4,14358
phuket,2019,5,11660
phuket,2019,6,14285
phuket,2019,7,13964
phuket,2019,8,13746
phuket,2019,9,14571
phuket,2019,10,12021
phuket,2019,11,12822
phuket,2019,12,16933

In [33]:
with cte as(
    select branch, date_part('year', dt)::int "year",
    date_part('month', dt)::int "month", sum(revenue) total
    from sales
    -- where date_part('year', dt) = 2018
    group by branch, date_part('year', dt), date_part('month', dt) 
    order by branch, "year", "month" 
),
b as(
    select * from cte where branch = 'bangkok'
), 
p as(
    select * from cte where branch = 'phuket'
)

select b.year, b.month, b.total "bangkok", p.total "phuket", b.total - p.total "Bkk-Phuket",
    to_char(b.total - p.total, '99G999G999')
    from b inner join p on b.month = p.month

year,month,bangkok,phuket,Bkk-Phuket,to_char
2018,1,20728,14800,5928,"5,928"
2018,1,20728,14264,6464,"6,464"
2018,2,15822,13807,2015,"2,015"
2018,2,15822,12450,3372,"3,372"
2018,3,17184,13293,3891,"3,891"
2018,3,17184,12731,4453,"4,453"
2018,4,21011,12962,8049,"8,049"
2018,4,21011,14358,6653,"6,653"
2018,5,18634,14311,4323,"4,323"
2018,5,18634,11660,6974,"6,974"
2018,6,14029,12837,1192,"1,192"
2018,6,14029,14285,-256,-256
2018,7,17666,12723,4943,"4,943"
2018,7,17666,13964,3702,"3,702"
2018,8,16647,14400,2247,"2,247"
2018,8,16647,13746,2901,"2,901"
2018,9,17154,13060,4094,"4,094"
2018,9,17154,14571,2583,"2,583"
2018,10,19355,14421,4934,"4,934"
2018,10,19355,12021,7334,"7,334"
2018,11,17175,14596,2579,"2,579"
2018,11,17175,12822,4353,"4,353"
2018,12,17984,12546,5438,"5,438"
2018,12,17984,16933,1051,"1,051"
2019,1,18841,14800,4041,"4,041"
2019,1,18841,14264,4577,"4,577"
2019,2,17187,13807,3380,"3,380"
2019,2,17187,12450,4737,"4,737"
2019,3,17162,13293,3869,"3,869"
2019,3,17162,12731,4431,"4,431"
2019,4,15779,12962,2817,"2,817"
2019,4,15779,14358,1421,"1,421"
2019,5,18497,14311,4186,"4,186"
2019,5,18497,11660,6837,"6,837"
2019,6,19417,12837,6580,"6,580"
2019,6,19417,14285,5132,"5,132"
2019,7,17651,12723,4928,"4,928"
2019,7,17651,13964,3687,"3,687"
2019,8,14706,14400,306,306
2019,8,14706,13746,960,960
2019,9,18067,13060,5007,"5,007"
2019,9,18067,14571,3496,"3,496"
2019,10,16874,14421,2453,"2,453"
2019,10,16874,12021,4853,"4,853"
2019,11,17779,14596,3183,"3,183"
2019,11,17779,12822,4957,"4,957"
2019,12,20052,12546,7506,"7,506"
2019,12,20052,16933,3119,"3,119"

In [36]:
with cte as(
    select branch, date_part('year', dt)::int "year",
    date_part('month', dt)::int "month", sum(revenue) total
    from sales
    -- where date_part('year', dt) = 2018
    group by branch, date_part('year', dt), date_part('month', dt) 
    order by branch, "year", "month" 
),
b as(
    select * from cte where branch = 'bangkok'
), 
p as(
    select * from cte where branch = 'phuket'
)

select b.year, b.month, b.total "bangkok", p.total "phuket", b.total - p.total "Bkk-Phuket",
    to_char(b.total - p.total, '99G999G999')
    from b inner join p on b.year = p.year and b.month = p.month

year,month,bangkok,phuket,Bkk-Phuket,to_char
2018,1,20728,14800,5928,"5,928"
2018,2,15822,13807,2015,"2,015"
2018,3,17184,13293,3891,"3,891"
2018,4,21011,12962,8049,"8,049"
2018,5,18634,14311,4323,"4,323"
2018,6,14029,12837,1192,"1,192"
2018,7,17666,12723,4943,"4,943"
2018,8,16647,14400,2247,"2,247"
2018,9,17154,13060,4094,"4,094"
2018,10,19355,14421,4934,"4,934"
2018,11,17175,14596,2579,"2,579"
2018,12,17984,12546,5438,"5,438"
2019,1,18841,14264,4577,"4,577"
2019,2,17187,12450,4737,"4,737"
2019,3,17162,12731,4431,"4,431"
2019,4,15779,14358,1421,"1,421"
2019,5,18497,11660,6837,"6,837"
2019,6,19417,14285,5132,"5,132"
2019,7,17651,13964,3687,"3,687"
2019,8,14706,13746,960,960
2019,9,18067,14571,3496,"3,496"
2019,10,16874,12021,4853,"4,853"
2019,11,17779,12822,4957,"4,957"
2019,12,20052,16933,3119,"3,119"