In [35]:
insert into drinks 
    values(2, 'latte', 50, false);

In [38]:
SELECT * from drinks

product_id,name,price,is_recommend
3,espresso,40.00,False
2,latte,50.00,False
4,smoothie,100.00,NULL

In [33]:
insert into drinks(product_id, name, price, is_recommend)
    values(3, 'espresso', 40, false);

: column "price" of relation "drinks" does not exist

In [39]:
insert into drinks(product_id, price, name)
    values(4, 100, 'smoothie')

: duplicate key value violates unique constraint "drinks_pkey"

In [40]:
insert into drinks(product_id, name, price, is_recommend)
    values(30, 'red tea', 150, true),
        (31, 'green tea', 120, null),
        (32, 'yellow tea', 164, false);