# ประยุกต์ใช้ RANGE data type ในการตัดเกรด

## built-in range types
### discrete range types
1. int4range — Range of integer
1. int8range — Range of bigint
1. daterange — Range of date

### continuous range types
1. numrange — Range of numeric
1. tsrange — Range of timestamp without time zone
1. tstzrange — Range of timestamp with time zone

In [1]:
drop table if exists student;

create table student (
    student_id int,
    score numeric(5, 2)
);

In [2]:
select random()

random
0.20822250546620324

In [3]:
select student_id,
    (random() * 60 + 40)::numeric(5, 2) score -- ให้คะแนนตำสุด 40
from generate_series(1, 50) student_id

student_id,score
1,81.24
2,44.52
3,97.81
4,44.04
5,51.18
6,51.66
7,93.25
8,82.24
9,75.70
10,64.73
11,88.73
12,43.13
13,51.19
14,76.76
15,54.94
16,72.81
17,49.67
18,95.49
19,58.01
20,59.95
21,49.32
22,81.28
23,83.67
24,93.24
25,75.06
26,99.93
27,77.61
28,73.71
29,86.77
30,79.23
31,75.51
32,61.90
33,97.34
34,93.55
35,73.50
36,99.79
37,58.10
38,87.63
39,82.51
40,88.65
41,66.04
42,59.55
43,89.03
44,79.11
45,48.29
46,84.12
47,85.97
48,70.60
49,79.89
50,57.79

In [4]:
insert into student
    select student_id,
    (random() * 60 + 40)::numeric(5, 2) score -- ให้คะแนนตำสุด 40
    from generate_series(1, 50) student_id

In [5]:
select * from student

student_id,score
1,50.87
2,89.72
3,87.69
4,42.87
5,40.37
6,53.33
7,85.48
8,65.60
9,68.57
10,41.41
11,86.05
12,43.49
13,58.03
14,80.09
15,46.10
16,43.49
17,84.31
18,77.91
19,48.57
20,54.29
21,82.36
22,83.97
23,79.29
24,71.87
25,74.04
26,87.46
27,74.03
28,84.11
29,44.21
30,52.10
31,47.55
32,73.10
33,45.52
34,49.90
35,45.45
36,77.18
37,92.68
38,67.41
39,77.72
40,59.95
41,42.39
42,68.13
43,49.27
44,52.32
45,57.00
46,51.07
47,99.06
48,54.01
49,46.24
50,43.37

In [6]:
select student_id, score, 
    case 
        when score between 85 and 100 then 'A' --ตั้งแต่ (between)
        when score between 70 and 84.999 then 'B'
        when score between 60 and 69.999 then 'C'
        when score between 50 and 59.999 then 'D'
        else 'F'
    end grade
    from student

student_id,score,grade
1,50.87,D
2,89.72,A
3,87.69,A
4,42.87,F
5,40.37,F
6,53.33,D
7,85.48,A
8,65.60,C
9,68.57,C
10,41.41,F
11,86.05,A
12,43.49,F
13,58.03,D
14,80.09,B
15,46.10,F
16,43.49,F
17,84.31,B
18,77.91,B
19,48.57,F
20,54.29,D
21,82.36,B
22,83.97,B
23,79.29,B
24,71.87,B
25,74.04,B
26,87.46,A
27,74.03,B
28,84.11,B
29,44.21,F
30,52.10,D
31,47.55,F
32,73.10,B
33,45.52,F
34,49.90,F
35,45.45,F
36,77.18,B
37,92.68,A
38,67.41,C
39,77.72,B
40,59.95,D
41,42.39,F
42,68.13,C
43,49.27,F
44,52.32,D
45,57.00,D
46,51.07,D
47,99.06,A
48,54.01,D
49,46.24,F
50,43.37,F

In [7]:
-- numrange
select student_id, score, 
    case 
        when '[85,100]'::numrange @> score then 'A'--(80 <= score < 100 ) score --score between 85 and 100 then 'A' --ตั้งแต่ (between)
        when '[70,85)'::numrange @> score then 'B' --(70 <= score < 85 ) score  -- between 70 and 84.999 then 'B'
        when '[60,70)'::numrange @> score then 'C' --(60 <= score < 70 ) score  -- score between 60 and 69.999 then 'C'
        when '[50,60)'::numrange @> score then 'D' --(50 <= score < 60 ) score  --score between 50 and 59.999 then 'D'
        else 'F' 
    end grade
    from student

student_id,score,grade
1,50.87,D
2,89.72,A
3,87.69,A
4,42.87,F
5,40.37,F
6,53.33,D
7,85.48,A
8,65.60,C
9,68.57,C
10,41.41,F
11,86.05,A
12,43.49,F
13,58.03,D
14,80.09,B
15,46.10,F
16,43.49,F
17,84.31,B
18,77.91,B
19,48.57,F
20,54.29,D
21,82.36,B
22,83.97,B
23,79.29,B
24,71.87,B
25,74.04,B
26,87.46,A
27,74.03,B
28,84.11,B
29,44.21,F
30,52.10,D
31,47.55,F
32,73.10,B
33,45.52,F
34,49.90,F
35,45.45,F
36,77.18,B
37,92.68,A
38,67.41,C
39,77.72,B
40,59.95,D
41,42.39,F
42,68.13,C
43,49.27,F
44,52.32,D
45,57.00,D
46,51.07,D
47,99.06,A
48,54.01,D
49,46.24,F
50,43.37,F

In [18]:
with cte as (
    select student_id, score, 
    case 
        when '[85,100]'::numrange @> score then 'A'--(80 <= score < 100 ) score --score between 85 and 100 then 'A' --ตั้งแต่ (between)
        when '[70,85)'::numrange @> score then 'B' --(70 <= score < 85 ) score  -- between 70 and 84.999 then 'B'
        when '[60,70)'::numrange @> score then 'C' --(60 <= score < 70 ) score  -- score between 60 and 69.999 then 'C'
        when '[50,60)'::numrange @> score then 'D' --(50 <= score < 60 ) score  --score between 50 and 59.999 then 'D'
        else 'F' 
    end grade
    from student
)

select grade, count(*) from cte group by grade 
union
select 'total', count(*) from cte order by grade

grade,count
A,7
B,13
C,4
D,10
F,16
total,50