# ROLLUP

# การหาผลรวมย่อยหลาย ๆ ขั้น เช่นหาผลรวมย่อยของยอดขายตาม เดือน ไตรมาส และปีด้วย ROLLUP

In [1]:
select * from sales limit 5;

branch,dt,revenue
bangkok,2018-01-01,11738
bangkok,2018-01-02,10720
bangkok,2018-01-03,27503
bangkok,2018-01-04,15693
bangkok,2018-01-05,22353

In [4]:
select date_part('month', dt)::int "month", sum(revenue)
    from sales 
    group by date_part('month', dt)
    order by "month"

month,sum
1,2194119
2,2001290
3,2192464
4,2092803
5,2129900
6,2107391
7,2109318
8,2145241
9,2146075
10,2190651
11,2147429
12,2085665

In [6]:
select 
    date_part('quarter', dt)::int "quarter",
    date_part('month', dt)::int "month",
    sum(revenue)
    from sales 
    group by rollup(date_part('quarter', dt), date_part('month', dt))
    order by "quarter", "month"

quarter,month,sum
1,1,2194119
1,2,2001290
1,3,2192464
1,NULL,6387873
2,4,2092803
2,5,2129900
2,6,2107391
2,NULL,6330094
3,7,2109318
3,8,2145241
3,9,2146075
3,NULL,6400634
4,10,2190651
4,11,2147429
4,12,2085665
4,NULL,6423745
NULL,NULL,25542346

In [7]:
select 
    date_part('year', dt)::int "year",
    date_part('quarter', dt)::int "quarter",
    date_part('month', dt)::int "month",
    sum(revenue)
    from sales 
    group by rollup(date_part('year', dt), date_part('quarter', dt), date_part('month', dt))
    order by "year", "quarter", "month"

year,quarter,month,sum
2018,1,1,1142948
2018,1,2,1007347
2018,1,3,1076167
2018,1,NULL,3226462
2018,2,4,1092251
2018,2,5,1030790
2018,2,6,1027651
2018,2,NULL,3150692
2018,3,7,1052814
2018,3,8,1052255
2018,3,9,1020990
2018,3,NULL,3126059
2018,4,10,1116989
2018,4,11,1082442
2018,4,12,1021815
2018,4,NULL,3221246
2018,NULL,NULL,12724459
2019,1,1,1051171
2019,1,2,993943
2019,1,3,1116297
2019,1,NULL,3161411
2019,2,4,1000552
2019,2,5,1099110
2019,2,6,1079740
2019,2,NULL,3179402
2019,3,7,1056504
2019,3,8,1092986
2019,3,9,1125085
2019,3,NULL,3274575
2019,4,10,1073662
2019,4,11,1064987
2019,4,12,1063850
2019,4,NULL,3202499
2019,NULL,NULL,12817887
NULL,NULL,NULL,25542346

In [8]:
-- เขียนแบบ grouping set
select 
    date_part('year', dt)::int "year",
    date_part('quarter', dt)::int "quarter",
    date_part('month', dt)::int "month",
    sum(revenue)
    from sales 
    -- group by rollup(date_part('year', dt), date_part('quarter', dt), date_part('month', dt))
    group by grouping sets (
        (date_part('year', dt), date_part('quarter', dt), date_part('month', dt)),
        (date_part('year', dt), date_part('quarter', dt)),
        date_part('year', dt),
        ()
    )
    order by "year", "quarter", "month"

year,quarter,month,sum
2018,1,1,1142948
2018,1,2,1007347
2018,1,3,1076167
2018,1,NULL,3226462
2018,2,4,1092251
2018,2,5,1030790
2018,2,6,1027651
2018,2,NULL,3150692
2018,3,7,1052814
2018,3,8,1052255
2018,3,9,1020990
2018,3,NULL,3126059
2018,4,10,1116989
2018,4,11,1082442
2018,4,12,1021815
2018,4,NULL,3221246
2018,NULL,NULL,12724459
2019,1,1,1051171
2019,1,2,993943
2019,1,3,1116297
2019,1,NULL,3161411
2019,2,4,1000552
2019,2,5,1099110
2019,2,6,1079740
2019,2,NULL,3179402
2019,3,7,1056504
2019,3,8,1092986
2019,3,9,1125085
2019,3,NULL,3274575
2019,4,10,1073662
2019,4,11,1064987
2019,4,12,1063850
2019,4,NULL,3202499
2019,NULL,NULL,12817887
NULL,NULL,NULL,25542346

In [9]:
select 
        branch,
        date_part('year', dt)::int "year",
        date_part('quarter', dt)::int "quarter",
        date_part('month', dt)::int "month",
        sum(revenue)
    from sales 
    group by rollup(branch, date_part('year', dt), date_part('quarter', dt), date_part('month', dt))
    order by branch, "year", "quarter", "month"

branch,year,quarter,month,sum
bangkok,2018,1,1,651358
bangkok,2018,1,2,560901
bangkok,2018,1,3,613155
bangkok,2018,1,NULL,1825414
bangkok,2018,2,4,645128
bangkok,2018,2,5,576109
bangkok,2018,2,6,604661
bangkok,2018,2,NULL,1825898
bangkok,2018,3,7,578793
bangkok,2018,3,8,637582
bangkok,2018,3,9,566532
bangkok,2018,3,NULL,1782907
bangkok,2018,4,10,658339
bangkok,2018,4,11,631292
bangkok,2018,4,12,555450
bangkok,2018,4,NULL,1845081
bangkok,2018,NULL,NULL,7279300
bangkok,2019,1,1,620556
bangkok,2019,1,2,568715
bangkok,2019,1,3,651521
bangkok,2019,1,NULL,1840792
bangkok,2019,2,4,537748
bangkok,2019,2,5,655961
bangkok,2019,2,6,632247
bangkok,2019,2,NULL,1825956
bangkok,2019,3,7,605240
bangkok,2019,3,8,616458
bangkok,2019,3,9,679310
bangkok,2019,3,NULL,1901008
bangkok,2019,4,10,619606
bangkok,2019,4,11,618736
bangkok,2019,4,12,597527
bangkok,2019,4,NULL,1835869
bangkok,2019,NULL,NULL,7403625
bangkok,NULL,NULL,NULL,14682925
phuket,2018,1,1,491590
phuket,2018,1,2,446446
phuket,2018,1,3,463012
phuket,2018,1,NULL,1401048
phuket,2018,2,4,447123
phuket,2018,2,5,454681
phuket,2018,2,6,422990
phuket,2018,2,NULL,1324794
phuket,2018,3,7,474021
phuket,2018,3,8,414673
phuket,2018,3,9,454458
phuket,2018,3,NULL,1343152
phuket,2018,4,10,458650
phuket,2018,4,11,451150
phuket,2018,4,12,466365
phuket,2018,4,NULL,1376165
phuket,2018,NULL,NULL,5445159
phuket,2019,1,1,430615
phuket,2019,1,2,425228
phuket,2019,1,3,464776
phuket,2019,1,NULL,1320619
phuket,2019,2,4,462804
phuket,2019,2,5,443149
phuket,2019,2,6,447493
phuket,2019,2,NULL,1353446
phuket,2019,3,7,451264
phuket,2019,3,8,476528
phuket,2019,3,9,445775
phuket,2019,3,NULL,1373567
phuket,2019,4,10,454056
phuket,2019,4,11,446251
phuket,2019,4,12,466323
phuket,2019,4,NULL,1366630
phuket,2019,NULL,NULL,5414262
phuket,NULL,NULL,NULL,10859421
NULL,NULL,NULL,NULL,25542346

In [11]:
select 
        branch,
        date_part('year', dt)::int ,
        date_part('quarter', dt)::int ,
        date_part('month', dt)::int ,
        sum(revenue),
        to_char(sum(revenue), '9G999G999G999')
    from sales 
    -- group by rollup(branch, date_part('year', dt), date_part('quarter', dt), date_part('month', dt))
    group by branch, rollup(date_part('year', dt), date_part('quarter', dt), date_part('month', dt))
    order by branch, , , 

    -- จะไม่มี grand total

branch,year,quarter,month,sum,to_char
bangkok,2018,1,1,651358,"651,358"
bangkok,2018,1,2,560901,"560,901"
bangkok,2018,1,3,613155,"613,155"
bangkok,2018,1,NULL,1825414,"1,825,414"
bangkok,2018,2,4,645128,"645,128"
bangkok,2018,2,5,576109,"576,109"
bangkok,2018,2,6,604661,"604,661"
bangkok,2018,2,NULL,1825898,"1,825,898"
bangkok,2018,3,7,578793,"578,793"
bangkok,2018,3,8,637582,"637,582"
bangkok,2018,3,9,566532,"566,532"
bangkok,2018,3,NULL,1782907,"1,782,907"
bangkok,2018,4,10,658339,"658,339"
bangkok,2018,4,11,631292,"631,292"
bangkok,2018,4,12,555450,"555,450"
bangkok,2018,4,NULL,1845081,"1,845,081"
bangkok,2018,NULL,NULL,7279300,"7,279,300"
bangkok,2019,1,1,620556,"620,556"
bangkok,2019,1,2,568715,"568,715"
bangkok,2019,1,3,651521,"651,521"
bangkok,2019,1,NULL,1840792,"1,840,792"
bangkok,2019,2,4,537748,"537,748"
bangkok,2019,2,5,655961,"655,961"
bangkok,2019,2,6,632247,"632,247"
bangkok,2019,2,NULL,1825956,"1,825,956"
bangkok,2019,3,7,605240,"605,240"
bangkok,2019,3,8,616458,"616,458"
bangkok,2019,3,9,679310,"679,310"
bangkok,2019,3,NULL,1901008,"1,901,008"
bangkok,2019,4,10,619606,"619,606"
bangkok,2019,4,11,618736,"618,736"
bangkok,2019,4,12,597527,"597,527"
bangkok,2019,4,NULL,1835869,"1,835,869"
bangkok,2019,NULL,NULL,7403625,"7,403,625"
bangkok,NULL,NULL,NULL,14682925,"14,682,925"
phuket,2018,1,1,491590,"491,590"
phuket,2018,1,2,446446,"446,446"
phuket,2018,1,3,463012,"463,012"
phuket,2018,1,NULL,1401048,"1,401,048"
phuket,2018,2,4,447123,"447,123"
phuket,2018,2,5,454681,"454,681"
phuket,2018,2,6,422990,"422,990"
phuket,2018,2,NULL,1324794,"1,324,794"
phuket,2018,3,7,474021,"474,021"
phuket,2018,3,8,414673,"414,673"
phuket,2018,3,9,454458,"454,458"
phuket,2018,3,NULL,1343152,"1,343,152"
phuket,2018,4,10,458650,"458,650"
phuket,2018,4,11,451150,"451,150"
phuket,2018,4,12,466365,"466,365"
phuket,2018,4,NULL,1376165,"1,376,165"
phuket,2018,NULL,NULL,5445159,"5,445,159"
phuket,2019,1,1,430615,"430,615"
phuket,2019,1,2,425228,"425,228"
phuket,2019,1,3,464776,"464,776"
phuket,2019,1,NULL,1320619,"1,320,619"
phuket,2019,2,4,462804,"462,804"
phuket,2019,2,5,443149,"443,149"
phuket,2019,2,6,447493,"447,493"
phuket,2019,2,NULL,1353446,"1,353,446"
phuket,2019,3,7,451264,"451,264"
phuket,2019,3,8,476528,"476,528"
phuket,2019,3,9,445775,"445,775"
phuket,2019,3,NULL,1373567,"1,373,567"
phuket,2019,4,10,454056,"454,056"
phuket,2019,4,11,446251,"446,251"
phuket,2019,4,12,466323,"466,323"
phuket,2019,4,NULL,1366630,"1,366,630"
phuket,2019,NULL,NULL,5414262,"5,414,262"
phuket,NULL,NULL,NULL,10859421,"10,859,421"