# regexp\_replace() function

-   learn regular expression: [https://regexr.com/](https://regexr.com/ "https://regexr.com/")
    
    # การใช้ regexp\_replace() เพื่อแทนที่ข้อความตาม pattern ที่กำหนด

In [5]:
select * from billionaire_2019

no_,name,net_worth_usd,age,nationality,sources_of_wealth
1,Jeff Bezos,$131 billion,55,United States,Amazon
2,Bill Gates,$96.5 billion,63,United States,Microsoft
3,Warren Buffett,$82.5 billion,88,United States,Berkshire Hathaway
4,Bernard Arnault,$76 billion,70,France,LVMH
5,Carlos Slim,$64 billion,79,Mexico,"América Móvil, Grupo Carso"
6,Amancio Ortega,$62.7 billion,82,Spain,"Inditex, Zara"
7,Larry Ellison,$62.5 billion,74,United States,Oracle Corporation
8,Mark Zuckerberg,$62.3 billion,34,United States,Facebook
9,Michael Bloomberg,$55.5 billion,77,United States,Bloomberg L.P.
10,Larry Page,$50.8 billion,45,United States,Alphabet Inc.

In [6]:
select net_worth_usd, 
    replace(net_worth_usd, '$', ''), --ลบตัว $ และแทนที่ด้วย ' ' (ช่องว่าง)
    replace(net_worth_usd, ' billion', ''),
    replace(replace(net_worth_usd, ' billion', ''), '$', ''),
    replace(replace(net_worth_usd, ' billion', ''), '$', '')::decimal(5, 1)
    from billionaire_2019

net_worth_usd,replace,replace,replace,replace
$131 billion,131 billion,$131,131,131.0
$96.5 billion,96.5 billion,$96.5,96.5,96.5
$82.5 billion,82.5 billion,$82.5,82.5,82.5
$76 billion,76 billion,$76,76,76.0
$64 billion,64 billion,$64,64,64.0
$62.7 billion,62.7 billion,$62.7,62.7,62.7
$62.5 billion,62.5 billion,$62.5,62.5,62.5
$62.3 billion,62.3 billion,$62.3,62.3,62.3
$55.5 billion,55.5 billion,$55.5,55.5,55.5
$50.8 billion,50.8 billion,$50.8,50.8,50.8

In [7]:
select net_worth_usd,
    replace(replace(net_worth_usd, ' billion', ''), '$', '')::decimal(5, 1)
    from billionaire_2019

net_worth_usd,replace
$131 billion,131.0
$96.5 billion,96.5
$82.5 billion,82.5
$76 billion,76.0
$64 billion,64.0
$62.7 billion,62.7
$62.5 billion,62.5
$62.3 billion,62.3
$55.5 billion,55.5
$50.8 billion,50.8

In [8]:
select 
    sum(replace(replace(net_worth_usd, ' billion', ''), '$', '')::decimal(5, 1))
    from billionaire_2019

sum
743.8

In [9]:
select 
    net_worth_usd,
    regexp_replace(net_worth_usd, '[^\d.]', '', 'g'), -- [^\d.] ลบตัวที่ไม่ใช่ตัวเลข(\d) หรือ (0-9) และจุดทศนิยม(.), g ลบทุกตัวที่เจอ
    regexp_replace(net_worth_usd, '[^0-9.]', '', 'g')
    from billionaire_2019

net_worth_usd,regexp_replace,regexp_replace
$131 billion,131,131
$96.5 billion,96.5,96.5
$82.5 billion,82.5,82.5
$76 billion,76,76
$64 billion,64,64
$62.7 billion,62.7,62.7
$62.5 billion,62.5,62.5
$62.3 billion,62.3,62.3
$55.5 billion,55.5,55.5
$50.8 billion,50.8,50.8

In [10]:
select 
    regexp_replace(net_worth_usd, '[^\d.]', '', 'g')::decimal(5, 1)
    from billionaire_2019

regexp_replace
131.0
96.5
82.5
76.0
64.0
62.7
62.5
62.3
55.5
50.8

In [11]:
select 
    sum(regexp_replace(net_worth_usd, '[^\d.]', '', 'g')::decimal(5, 1))
    from billionaire_2019

sum
743.8

## capture groups

In [12]:
select * from billionaire_2019

no_,name,net_worth_usd,age,nationality,sources_of_wealth
1,Jeff Bezos,$131 billion,55,United States,Amazon
2,Bill Gates,$96.5 billion,63,United States,Microsoft
3,Warren Buffett,$82.5 billion,88,United States,Berkshire Hathaway
4,Bernard Arnault,$76 billion,70,France,LVMH
5,Carlos Slim,$64 billion,79,Mexico,"América Móvil, Grupo Carso"
6,Amancio Ortega,$62.7 billion,82,Spain,"Inditex, Zara"
7,Larry Ellison,$62.5 billion,74,United States,Oracle Corporation
8,Mark Zuckerberg,$62.3 billion,34,United States,Facebook
9,Michael Bloomberg,$55.5 billion,77,United States,Bloomberg L.P.
10,Larry Page,$50.8 billion,45,United States,Alphabet Inc.

In [13]:
-- REGEXP_REPLACE( string, pattern [, replacement_string [, start_position [, nth_appearance [, match_parameter ] ] ] ] )

select name,
    -- Jeff Bezos -> Bezos, Jeff
    regexp_replace(name, '(\w+.)(\s+)(\w+.)', '\3, \1'), -- ชื่อ(\w+.), ชื่องว่าง(\s+) และ นามสกุล(\w+.) --> '\3, \1' ท่อนที่3 ,comma ท่อนที่1
    regexp_replace(name, '(.)(\w+.)(\s+)(\w+.)', '\4, \1') -- (.) หรืแ (\d)จุดแทนตัวอักษร 1 ตัว
     from billionaire_2019

name,regexp_replace,regexp_replace
Jeff Bezos,"Bezos, Jeff","Bezos, J"
Bill Gates,"Gates, Bill","Gates, B"
Warren Buffett,"Buffett, Warren","Buffett, W"
Bernard Arnault,"Arnault, Bernard","Arnault, B"
Carlos Slim,"Slim, Carlos","Slim, C"
Amancio Ortega,"Ortega, Amancio","Ortega, A"
Larry Ellison,"Ellison, Larry","Ellison, L"
Mark Zuckerberg,"Zuckerberg, Mark","Zuckerberg, M"
Michael Bloomberg,"Bloomberg, Michael","Bloomberg, M"
Larry Page,"Page, Larry","Page, L"

## แสดงหมายเลขโทรศัพท์ 10 หลัก

In [14]:
-- ให้แสดง 0621234567 เป็น (062) 123-4567
select regexp_replace('0621234567', '(\d{3})(\d{3})(\d{4})', '(\1) \2-\3')

regexp_replace
(062) 123-4567

## แสดงรหัสบัตรเครดิต 16 หลัก

In [15]:
select regexp_replace('0621234567012345', '(\d{4})(\d{4})(\d{4})(\d{4})', '\1 \2 \3 \4')

regexp_replace
0621 2345 6701 2345

## แสดงรหัสบัตรประจำตัวประชาชน 13 หลัก

In [16]:
select regexp_replace('0621234567012', '(\d)(\d{4})(\d{5})(\d{2})(\d)', '\1 \2 \3 \4 \5')

regexp_replace
0 6212 34567 01 2

In [17]:
select 
    regexp_replace('(062) 123-4567', '[^\d]', '', 'g'), -- ลบทุกตัวที่ไม่ใช้ตัวเลข ,g คือ global ทุกครั้งที่เจอ
    regexp_replace('(062) 123-4567', '[^\d]', '')  -- ลบแค่ตัวแรกทิ้ง

regexp_replace,regexp_replace
0621234567,062) 123-4567

## ลบทุกตัวที่ไม่ใช่ A-Z, a-z

In [18]:
select regexp_replace('12-3A7B3c9y', '[^A-Za-z]', '*', 'g') -- แทนที่ทุกตัวที่ไม่ใช้ A-Za-z ด้วย *

regexp_replace
****A*B*c*y